<html>

<head>
    <title>Account</title>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <ul class="nav navbar-nav navbar-right">
            <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"
                class="container-fluid">
                <h5>
                    <a href="{{ url_for('logout') }}">
                        <input class="btn btn-default" type="button" value="Logout"></a>
                    <a href="{{ url_for('home') }}">
                        <input class="btn btn-default" type="button" value="Home"></a>
                </h5>
            </div>
        </ul>
    </header>
    <div class=container"><br>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4">
                <ul>
                    <li>Name: {{ session['name'] }}</li>
                    <li>Email: {{ session['email'] }}</li>
                    <li>DID: {{ session['did'] }}</li>
                </ul>
            </div>
            <br>
        </div>
    </div>
</body>

</html>